/*CSS for the picking the best UC*/
.UCList {
    background-color:navy;
    color: rgba(254, 206, 1, 255);
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 190px;
    border-radius: 20px;
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    position: relative;
    left: 10px;
}
fieldset {
    border: none;
    
}
/*Custom Radio Buttons*/
input[type="radio"] {
    appearance: none;
    border-color: black;
    background-color: white;
    width: 1.5ex;
    height: 1.5ex;
    border: 2px;
    border-radius: 5px;
}
input[type="radio"]:hover {
    background-color: rgba(254, 206, 1, 255);
}
input[type="radio"]:checked {
    background-color: rgba(254, 206, 1, 255);
    width: 10px;
    height: 10px;
}
/*DO NOT PRESS BUTTON*/
#button1 {
    padding: 15px;
    border-radius: 20px;
    border-style: hidden;
    background-color: #2F4858;
    color: #F6AE2D;
    font-family: 'Maven Pro', sans-serif;
}
#button1:hover {
    background-color: #F6AE2D;
    color: #2F4858;
}
#button1:active {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 100%, 50%);
}
/*CSS for picking the HTML elements*/
.CSSForm {
    background-color: green;
    font-family: 'DynaPuff', cursive;
    margin: 5pt;
    padding: 10pt;
    border-radius: 30pt;
    font-size: xx-large;
    align-content: space-between;
}
/*Custom Checkboxes*/
input[type="checkbox"] {
    appearance: none;
    background-color: white;
    padding: 5mm;
    border-radius: 3mm;
    border-width: 5mm;
    border-color: black;
}
input[type="checkbox"]:hover {
    background-color: lightgreen;
}
input[type="checkbox"]:checked {
    background-color: lightgreen;
}

* {
    font-family: 'DynaPuff', cursive;
}
/*Add same style to all the sections*/
#agenda, #attendance, #lastweek, #goals, #brainstorm, #nextgoals, #QCC, #multimedia {
    text-align: center;
    margin: auto;
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
}
h1, h2, h3, h4 {
    text-decoration: underline;
}
/*Any hovered link should be highlighted in yellow.*/
@media (any-hover: hover) {
    a:hover {
        background: yellow;
    }    
}
section img {
    width: 65vw;
    height: auto;
}

section > video {
    height: 20em;
    width: auto;
}

div + p {
    color: red;
}

form ~ label {
    color: skyblue;
}
/*Any thing that's a text box should be gray.*/
.box {
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
#forms {
    display: flex;
    flex-direction: column;
    justify-content: flex-center;
    row-gap: 5px;
}
p.important {
    color: red;
}

nav.sections ul li {
    display: inline-block;
    position: static;
}

main {
    display: grid;
}

footer {
    display: none;
}